.Rproj.user
.Rhistory
.RData
.Ruserdata
RRP6_1_YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
RRP6_1_YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
RRP6_2YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
RRP6_2YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
RRP6_3YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
RRP6_3YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
UPF1_1_YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
UPF1_1_YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
UPF1_2YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
UPF1_2YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
UPF1_3YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
UPF1_3YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
U_R_1YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
U_R_1YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
U_R_2YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
U_R_2YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
U_R_3YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
U_R_3YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
WT_1_YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
WT_1_YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
WT_2YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
WT_2YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
WT_3YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam
WT_3YPD_name_sorted_cigar.bam_COMPASS_USJ_sorted.bam.bai
